---
layout: layouts/sitelayout.njk
title: Gabinety
pageTitle: Gabinety Centrum Psyche
postfix: Centrum PSYCHE Wrocław
description: Gabinet Psychologiczny, ul. Białowieska 3a/5d, 4 pietro, Wrocław. Lista specjalistów, Wykaz usług prowadzonych w gabinecie, zdjęcia gabinetów,
isHomepage: false
eleventyNavigation:
  key: Gabinety
  parent: Psyche
eleventyImport:
  collections: ["gabinety"]

---

<h2>Gabinety</h2>

<p>
  Wszystkie <a href="/oferta/">usługi</a> dostępne w Centrum PSYCHE są
  realizowane w gabinetach zlokalizowanych w łatwo dostepnych lokalizacjach w
  pobliżu CH Magnolia.
</p>

{% include "partials/locations.njk" %}
