---
layout: layouts/sitelayout.njk
title: Rejestracja i Kontakt
pageTitle: Kontakt 📱+48 668 093 234 ✉️ info@psyche.wroclaw.pl
postfix: Centrum PSYCHE Wrocław
description: Centrum PSYCHE - centrum psychoterapii we Wrocławiu. Poradnia psychologiczna i zdrowia psychicznego dla osób poszukujących pomocy.
isHomepage: false
eleventyNavigation:
  key: Kontakt
  parent: Psyche

---

<h2>Centrum Psyche</h2>
<p>
  <b>Rejestracja telefoniczna: poniedziałek-piątek w godzinach 9:00 do 18:00</b>
</p>
<p>
  <b>Godziny otwarcia gabinetu:</b> poniedziałek-piątek w godzinach 9:00 do
  21:00, soboty <b>9:00 do 15:00</b>
</p>

<h2>Adres i dane kontaktowe</h2>
<p>
  <a href="https://goo.gl/maps/asSCs9jEXsS2" target="_blank"
  >ul. Białowieska 3a/5d (4 piętro), Wrocław</a>
</p>
<p>
  Budynek Pixel House, naprzeciwko Centrum Handlowego Magnolia Park i siłowni
  McFit (<b>róg Legnickiej i Białowieskiej</b>)
</p>
<p><a href="tel:+48668093234">+48 668 093 234</a></p>
<p><a href="mailto:info@psyche.wroclaw.pl">info@psyche.wroclaw.pl</a></p>

<h2>Parking</h2>
<p>
  Bezpłatny parking przy Centrum Handlowym Magnolia Park oraz markecie Kaufland.
</p>

<h2>Dojazd do gabinetu (przystanek Niedźwiedzia)</h2>
<p>
  Tramwajem, liniami: <a
    href="https://www.wroclaw.pl/linia-3-wroclaw"
    target="_blank"
  >3</a>, <a href="https://www.wroclaw.pl/linia-10-wroclaw" target="_blank"
  >10</a>,
  <a href="https://www.wroclaw.pl/linia-20-wroclaw" target="_blank">20</a>, <a
    href="https://www.wroclaw.pl/linia-31-wroclaw"
    target="_blank"
  >31</a>,
  <a href="https://www.wroclaw.pl/linia-32-wroclaw" target="_blank">32</a>, <a
    href="https://www.wroclaw.pl/linia-33-wroclaw"
    target="_blank"
  >33</a>
</p>
<p>
  Autobusem, liniami: <a
    href="https://www.wroclaw.pl/linia-101-wroclaw"
    target="_blank"
  >101</a>, <a href="https://www.wroclaw.pl/linia-102-wroclaw" target="_blank"
  >102</a>, <a href="https://www.wroclaw.pl/linia-140-wroclaw" target="_blank"
  >140</a>, <a href="https://www.wroclaw.pl/linia-607-wroclaw" target="_blank"
  >607</a>
</p>

<h2>Centrum Psyche Kids</h2>
<p>
  <b><span style="color: rgb(240, 162, 46);">Rejestracja
      telefoniczna:&nbsp;poniedziałek-piątek&nbsp;w godzinach&nbsp;<span
        style="color: rgb(205, 2, 2);"
      >9:00 do 18:00</span></span><br></b>
</p>
<p>
  <b>Godziny otwarcia gabinetu:</b> poniedziałek-piątek&nbsp;w godzinach&nbsp;<b
  >9:00 do 21:00,&nbsp;</b>soboty<b> 9:00 do 15:00</b>
</p>
<h2>Adres i dane kontaktowe</h2>
<p>
  <a
    href="https://g.page/CentrumPsycheKids"
    target="_blank"
  >ul. Małopanewska 18/13 (2 piętro), Wrocław</a>
</p>
<p>
  Budynek Bystrzyca, nr 18,osiedle Dorzecze Legnickiej (nowe bloki obok marketu
  Kaufland)
</p>
<p>
  <a href="tel:+48668093234">
    +48 668 093 234</a>
</p>
<p>
  <a href="mailto:info@psyche.wroclaw.pl">info@psyche.wroclaw.pl</a>
</p>
<h2>Parking</h2>
<p>
  Bezpłatny parking przy markecie Kaufland oraz na miejscach parkingowych przy
  budynkach osiedla Dorzecze Legnickiej.
</p>
<h2>
  Dojazd do gabinetu (przystanek Małopanewska)
</h2>
<p>
  <a
    href="https://www.wroclaw.pl/linia-3-wroclaw"
    target="_blank"
  >3</a>, <a
    href="https://www.wroclaw.pl/linia-10-wroclaw"
    target="_blank"
  >10</a>, <a
    href="https://www.wroclaw.pl/linia-20-wroclaw"
    target="_blank"
  >20</a>, <a
    href="https://www.wroclaw.pl/linia-31-wroclaw"
    target="_blank"
  >31</a>, <a
    href="https://www.wroclaw.pl/linia-32-wroclaw"
    target="_blank"
  >32</a>, <a
    href="https://www.wroclaw.pl/linia-33-wroclaw"
    target="_blank"
  >33</a>
</p>
<p>
  <a
    href="https://www.wroclaw.pl/linia-101-wroclaw"
    target="_blank"
  >101</a>, <a
    href="https://www.wroclaw.pl/linia-102-wroclaw"
    target="_blank"
  >102</a>, <a
    href="https://www.wroclaw.pl/linia-140-wroclaw"
    target="_blank"
  >140</a>, <a
    href="https://www.wroclaw.pl/linia-607-wroclaw"
    target="_blank"
  >607</a>
</p>

<h2>Dane do przelewu:</h2>
<p>
  <b>Fundacja "Świadomi" ul. Przednia 50a/7, 54-518 Wrocław</b>
</p>
<p>
  <b>Nr konta: 15 1090 2516 00000001 3722 3425</b>
</p>
<p>
  Przy płatności przelewem prosimy o wpisanie w tytule przelewu: imię i
  nazwisko, datę wizyty oraz nazwisko specjalisty.
</p>
<p>
  Prosimy o odwoływanie konsultacji najpóźniej na 24 godziny przed umówionym
  terminem wizyty.
</p>
<h2>Znajdź nas na mapie</h2>

<iframe
  src="https://www.google.com/maps/d/embed?mid=1lrxJ4Ue8L9uSHznTAftcZCYnKuU6Vnbf&amp;hl=pl"
  style="border: none;"
  width="100%"
  height="600"
></iframe><br>

<h2>Płatności</h2>
<p>Płatności możliwe gotówką, kartą lub przelewem na konto bankowe.</p>
<p>Dane do przelewu:Fundacja "Świadomi" ul. Przednia 50a/7, 54-518Wrocław.</p>
<p>Nr konta:<b>15 1090 2516 0000 0001 3722 3425</b></p>
<p>
  Przy płatności przelewem prosimy o wpisanie w tytule przelewu: imię i
  nazwisko, datę wizyty oraz nazwisko specjalisty.
</p>
<p>
  <b>Prosimy o odwoływanie konsultacji najpóźniej na 24 godziny przed umówionym
    terminem spotkania.</b>
</p>
