nav.navigation-panel
{
    height: 100vh;
    overflow-y: auto;
    padding-block: var(--space-double);
}
ul.main-nav {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding-inline: var(--space-normal);
        padding-block: var(--space-half);
        list-style: none;

        color: var(--clr-text-inverse);
        text-transform: uppercase;
        font-weight: 700;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}