ul.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--space-double);
    margin: 0;
    padding: 0;
    margin-block: calc(3 * var(--space-double));

    li {
        list-style: none;

        .service {
            width: 100%;
            aspect-ratio: 1/1;
            background-color: #ffffff;
            color: #333333;
            text-decoration: none;
            font-size: var(--font-size-h5);
            font-weight: 700;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: var(--space-double);
            box-shadow: var(--space-double) var(--space-double) var(--space-double) #cacaca, -2rem -2rem 6rem #ffffff;
            transition: all .3s ease;
            position: relative;
            z-index: 1;


            .icon {
                aspect-ratio: 1/1;
                width: 100%;
                max-width: 100px;
                margin-block-start: var(--space-double)
            }

            &:HOVER {
                text-decoration: none;
                background-color: var(--clr-base);
                color: #ffffff;
                scale: 1.1;
                z-index: 2;

                .icon {
                    mix-blend-mode: multiply
                }
            }


        }

        @media screen and (max-width: 37.5rem) {
            .service {
                aspect-ratio: unset
            }
        }
    }
}

.panel {
    display: flex;
    margin-inline: auto;
    width: 100%;
    max-width: 1310px;
    padding-inline: 30px;
    padding-block: 30px;
    margin-block: 4rem;
    background-color: #ffffff;
    box-shadow: 2rem 2rem 6rem #cacaca, -2rem -2rem 6rem #ffffff;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    z-index: 4;

    .content {
        position: relative;
        z-index: 10;
        margin-inline-end: auto;
    }

    picture {
        float: right;
        margin-inline-start: 1rem;
        margin-block-start: 2rem;
        margin-block-end: 1rem;
        width: 100%;
        max-width: 300px;
        aspect-ratio: 1/1;
        flex-shrink: 0;

        img.panel-image {
            box-shadow: 2rem 2rem 6rem #cacaca, -2rem -2rem 6rem #ffffff;
            object-fit: cover;
            aspect-ratio: 1/1;
            width: 100%;
            max-height: 300px;
            border-radius: 32% 68% 34% 66% / 50% 36% 64% 50%;
            transition: all .3s ease;
            display: block;
        }
    }

    @media screen and (max-width: 37.5rem) {
        flex-direction: column;
    }
}

.panel .content {
    position: relative;
    z-index: 10
}

.panel:HOVER img.panel-image {
    border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%
}

