---
layout: layouts/sitelayout.njk
title: Oferta
pageTitle: Oferta usług Centrum PSYCHE we Wrocławiu
postfix: Centrum PSYCHE Wrocław
description: W Centrum PSYCHE Wrocław przyjmują specjaliści wielu dziedzin. Wśród nich znajdziecie Psychologów dla dorosłych, Psychologów dla dzieci, Psychoterapeutów, Logopedów, specjalistów EEG Biofeedback i QEEG oraz wielu innych.
permalink: /oferta/
isHomepage: false

---

{% set servicesSorted = services | bySorting | byPublished %}

<h1>{{ pageTitle }}</h1>

<p>
  <b>Nasza pomoc skierowana jest do osób dorosłych, dzieci oraz młodzieży.</b>
</p>
<p>
  <b>Proponujemy naszym pacjentom szeroki wachlarz usług psychologicznych,
    psychoterapeutycznych oraz seksuologicznych.</b>
</p>
<p>
  Pierwsza wizyta w Centrum PSYCHE jest bardzo ważna i służy przede wszystkim
  rozpoznaniu problemu z jakim przychodzi do nas pacjent oraz zaproponowanie
  najkorzystniejszej ścieżki dalszego leczenia.
</p>

{% include "partials/services.njk" %}
