---
permalink: /locations.kml
eleventyExcludeFromCollections: true

---
<kml
  xmlns="http://www.opengis.net/kml/2.2"
  xmlns:atom="http://www.w3.org/2005/Atom"
>
  <Document>
    <name>Locations for Centrum Psyche Wrocław.</name>
    <atom:link rel="related" href="http://psyche.wroclaw.pl" />
    <Folder>
      <Placemark>
        <name>
          <![CDATA[ Centrum Psyche Wrocław ]]>
        </name>
        <address>
          <![CDATA[ Białowieska 3, Wrocław, 54-234 , Poland ]]>
        </address>
        <phoneNumber>
          <![CDATA[ 48 668 093 234 ]]>
        </phoneNumber>
        <description>
          <![CDATA[ ]]>
        </description>
        <Point>
          <coordinates>16.9927942,51.1224518,0</coordinates>
        </Point>
      </Placemark>
      <Placemark>
        <name>
          <![CDATA[ Centrum Psyche Kids Wrocław ]]>
        </name>
        <address>
          <![CDATA[ Małopanewska 18, Wrocław, 54-212 , Poland ]]>
        </address>
        <phoneNumber>
          <![CDATA[ 48 668 093 234 ]]>
        </phoneNumber>
        <description>
          <![CDATA[ ]]>
        </description>
        <Point>
          <coordinates>16.9872821,51.1206389,0</coordinates>
        </Point>
      </Placemark>
    </Folder>
  </Document>
</kml>
