{% for article in articlesToDisplay %}
  <article class="article">
    <a
      href="/o-nas/artykuly/@{{ article.id }}/{{ article.urlTitle | slugify }}/"
      role="button"
      aria-label="Przeczytaj artykuł {{ article.title }}"
    >
      <h3>{{ article.title }}</h3>
      <time datetime="{{ article.date }}">{{ article.date | dateDisplay }}</time>
      {{ article.textShort | safe }}
    </a>
  </article>
{% endfor %}
