<nav class="bcrumb" aria-label="Breadcrumb">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/">Psyche</a>
            </li>
            <li>O nas</li>
        </ul>
    </div>
</nav>