<footer>
    <div class="calltoaction">
        <div>
            <a href="tel:+48668093234" class="psyche-button-link-2020">Zadzwoń</a>
            <a
        href="https://booksy.com/pl-pl/36093_psycholog-centrum-psyche-gabinety-psychologiczne_zdrowie_13750_wroclaw"
        target="_blank"
        >Umów się na wizytę</a>
            <a href="/kontakt">Przyjedź</a>
        </div>
    </div>
    <div class="footer_content">
        <div>
            <div itemscope="" itemtype="http://schema.org/LocalBusiness">
                <div itemprop="fullName">
                    <a itemprop="url" href="http://psyche.wroclaw.pl">
                        <h5>Centrum Psyche Wrocław</h5>
                    </a>
                </div>
                <p>
            T: <span itemprop="telephone">
                        <a href="tel:+48668093234"
            >+48 668 093 234</a>
                    </span>
                </p>
                <div
            itemprop="address"
            itemtype="http://schema.org/PostalAddress"
        >
                    <p>
            A: <span itemprop="streetAddress">
                            <a href="/kontakt"
                >Białowieska 3a/5d</a>
                        </span>, <span
                itemprop="addressLocality"
            >Wrocław <span itemprop="postalCode">54-234</span>
                        </span> (róg
            Legnicka / Białowieska)
            </p>
                    <p>
            A: <span itemprop="streetAddress">
                            <a href="/kontakt?loc=2"
                >Małopanewska 18/13</a>
                        </span>, <span
                itemprop="addressLocality"
            >Wrocław <span itemprop="postalCode">54-212</span>
                        </span>
            (Psyche KIDS)
            </p>
                    <p>
            E: <span itemprop="email">
                            <a
                href="mailto:info@psyche.wroclaw.pl"
                >info@psyche.wroclaw.pl</a>
                        </span>
                    </p>
                    <p>
            F: <span itemprop="url">
                            <a
                href="https://fb.me/centrumpsyche"
                target="_blank"
                >fb.me/centrumpsyche</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile_nav">
        <a href="/">Start</a>
        <a href="/zespół">Specjaliści</a>
        <a href="https://booksy.com/pl-pl/36093_psycholog-centrum-psyche-gabinety-psychologiczne_zdrowie_13750_wroclaw" target="_blank" >Booksy</a>
        <a href="tel:+48668093234">Zadzwoń</a>
        <a href="/kontakt">Przyjedź</a>
    </div>
</footer>