<div class="header_video_wrapper">
  <div class="header_video">
    <video
      poster="/media/psyche-video.jpg"
      muted=""
      autoplay=""
      loop=""
      playsinline=""
      aria-label="Śmiejąca się rudowłosa, długowłosa kobieta rozmawia z przyjaciółmi."
      aria-role="presentation"
    >
      <source src="/media/psyche-video.webm" type="video/webm">
      <source src="/media/psyche-video.mp4" type="video/mp4">
    </video>
    <div class="header_video_overlay"></div>
    <div class="header_video_text_buttons">
      <h1>{{ title }}</h1>
      <div class="buttons">
        <div class="btn">
          <a href="/zespół" class="inlinelink">Specjaliści</a>
        </div>
        <div class="btn btn__phone">
          <a href="tel:+48668093234" class="inlinelink">668 093 234</a>
        </div>
        <div class="btn btn__booksy">
          <a
            href="https://booksy.com/pl-pl/36093_psycholog-centrum-psyche-gabinety-psychologiczne_zdrowie_13750_wroclaw/"
            target="_blank"
          >Zarejestruj w Booksy</a>
        </div>
      </div>
      <p class="section">
        <b>GABINETY: Białowieska 3a/5d | Małopanewska 18/13</b>
        <br>
        Psycholog dzieci i dorosłych, psychoterapeuta, badanie ADOS 2, QEEG,
        terapia Warnkego, logopeda, wizyty on-line.
        <br>
        Rejestracja: <a href="tel:+48668093234" class="inlinelink"
        >+48 668 093 234</a>, pn - pt od 9:00 do 18:00
      </p>
    </div>
  </div>
</div>
