<ul>
  <li
    level="1"
    {% if page.url and page.url.startsWith('/o-nas') %}
      active
    {% endif %}
  >
    <div class="l1 wrapper">
      <a href="/o-nas/">
        <span>
          <as-icon size="default" name="clipboard"></as-icon>O nas</span>
      </a>
    </div>
    <div>
      <ul>
        {% for cat in onasCategories %}
          <li
            level="2"
            {%
              if page.url and page.url.startsWith('/design-tokens/{{ cat.slug | lower }}')
            %}
              active
            {% endif %}
          >
            <div class="l2 wrapper">
              <a href="/design-tokens/{{ cat.slug | lower }}/">
                <span>
                  <as-icon name="--as-icon-arrow-right" size="m"></as-icon>
                  {{ cat.name | replace("-", " ") }}
                </span>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>

  <li
    level="1"
    {% if page.url and page.url.startsWith('/components') %}
      active
    {% endif %}
  >
    <div class="l1 wrapper">
      <a href="/components/">
        <span>
          <as-icon size="default" name="sliders"></as-icon>Components</span>
      </a>
    </div>
    <div>
      <ul>
        {% for cat in components %}
          <li
            level="2"
            page-url="/components/{{cat.slug | lower }}/"
            {%
              if page.url and page.url.startsWith('/components/{{ cat.slug | lower }}/')
            %}
              active
            {% endif %}
          >
            <div class="l2 wrapper">
              <a href="/components/{{ cat.slug | lower }}/">
                <span>
                  <as-icon name="--as-icon-arrow-right" size="m"></as-icon>
                  {{ cat.name | replace("-", " ") }}
                </span>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>

  <li
    level="1"
    {% if page.url and page.url.startsWith('/search') %}
      active
    {% endif %}
  >
    <div class="l1 wrapper">
      <a href="/search/">
        <span>
          <as-icon size="default" name="search"></as-icon>Search</span>
      </a>
    </div>
  </li>
</ul>
