<ul class="main-nav">
  <li level="1">
    <div class="l1 wrapper">
      <a href="/">
        <span>Start</span>
      </a>
    </div>
  </li>

  <li
    level="1"
    {% if page.url and page.url.startsWith('/o-nas') %}
      active
    {% endif %}
  >
    <div class="l1 wrapper">
      <a href="/o-nas/">
        <span>O nas</span>
      </a>
    </div>
  </li>

  <li
    level="1"
    {% if page.url and page.url.startsWith('/oferta') %}
      active
    {% endif %}
  >
    <div class="l1 wrapper">
      <a href="/oferta/">
        <span>Oferta<button class="subnav-btn" aria-label="Otwórz Ofertę">&#10132;</button>
        </span>
      </span>
    </a>
  </div>
  <div>
    <ul>
      {% for service in services %}
        <li>
          <div class="l2 wrapper">
            <a href="/oferta/{{ service.fullName | slugify }}/">
              <span>{{ service.fullName }}</span>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</li>

<li
    level="1"
    {% if page.url and page.url.startsWith('/zespół') %}
      active
    {% endif %}
  >
  <div class="l1 wrapper">
    <a href="/zespół/">
      <span>Zespół<span class="subnav-btn" aria-label="Otwórz Zespół">&#10132;</span>
      </span>
    </a>
  </div>
  <div>
    <ul>
      {% for member in team %}
        <li>
          <div class="l2 wrapper">
            <a href="/zespół/{{ member.fullName | slugify }}/">
              <span>{{ member.fullName }}</span>
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</li>
<li
    level="1"
    {% if page.url and page.url.startsWith('/kontakt') %}
      active
    {% endif %}
  >
  <div class="l1 wrapper">
    <a href="/kontakt/">
      <span>Kontakt</span>
    </a>
  </div>
</li>
</ul>