<div class="page-content">
  {{ content | safe }}

  {% if isHomepage %}
    <h2>Usługi w Centrum PSYCHE</h2>
    {% include "partials/services.njk" %}
  {% endif %}
</div>

{% if isHomepage %}
  <div class="knowledge-base" data-pagefind-ignore>
    <h2>Artykuły i Baza Wiedzy</h2>
    <div>
      <ol class="article-list">
        {% for article in articles | byPublished | byDateDesc | head(15) %}
          <li>
            <a href="/o-nas/artykuly/@{{ article.id }}/{{ article.urlTitle | slugify }}/">
              <time datetime="{{ article.date }}">{{ article.date | dateDisplay }}</time>
              <span>{{ article.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ol>
      <a class="article-list-more" href="/o-nas/artykuly/">Wszystkie artykuły</a>
    </div>
  </div>
{% endif %}
