<div class="topbar" role="banner">
  <a aria-label="Navigate to /" href="/" accesskey="h">
    <img
      src="../../media/psyche-logo-horizontal-white.svg"
      width="220"
      height="60"
      alt="Centrum PSYCHE logo, stylized wings and text PSYCHE"
    />
  </a>
  <a href="tel:+48668093234" class="inlinelink">+48 668 093 234</a>
  <button class="menu-button" accesskey="m"></button>
</div>
{% include "partials/nav.njk" %}

<div class="navigation-overlay"></div>
